// Copyright (C) Continental AG
// All Rights Reserved
// COMPONENT: IPC
// VERSION:   $Revision: 1.1 $

#ifndef IPC_MIRROR_BUFFER_CFG_H
#define IPC_MIRROR_BUFFER_CFG_H

#include <Rte_type.h>

#if CFG_ENABLED(CFG_CLUSTER_CHUNKING)
typedef struct
{
/*!<codegen_start:IPC_MIRROR_BUFFER_SWAP_BUFFER>*/
/*!<codegen_end:IPC_MIRROR_BUFFER_SWAP_BUFFER>*/
} t_clusterSwapBuffer;

#endif

#endif // include guard
